.test {
    border: 1px solid white;
}

/* SHOW SCROLLBAR 
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

::-webkit-scrollbar-thumb {
    background: #888;
}
*/

/*TYPOGRAPHY*/

/*GOOPER*/

@font-face {
font-family: "Gooper SemiCondensed";  
src: 
url('type/GooperSemiCondensed5-Regular.woff') format("woff"),
url('type/GooperSemiCondensed5-Regular.woff2') format("woff2"),
url('type/GooperSemiCondensed5-Regular.otf') format("opentype");
}

.gooper-semiLight {
    font-family: Gooper SemiCondensed;
    font-weight: 500;
}

/* FORMA */

@import url("https://use.typekit.net/qam0qyv.css");

.formaLight-i {
    font-family: forma-djr-text,sans-serif;
    font-weight: 300;
    font-style: italic;
}

.formaLight {
    font-family: forma-djr-text,sans-serif;
    font-weight: 300;
    font-style: normal;
}

.formaMed {
    font-family: forma-djr-text,sans-serif;
    font-weight: 500;
    font-style: normal;
}

.formaReg {
    font-family: forma-djr-micro,sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* FORMA MICRO */

@import url("https://use.typekit.net/qam0qyv.css");

.formaMicro {
    font-family: forma-djr-micro,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.formaMicro-i {
    font-family: forma-djr-micro,sans-serif;
    font-weight: 400;
    font-style: italic;
}

.formaMicroMed {
    font-family: forma-djr-micro,sans-serif;
    font-weight: 500;
    font-style: normal;
}

.formaMicroMed-i {
    font-family: forma-djr-micro,sans-serif;
    font-weight: 500;
    font-style: italic;
}

.formaMicroBold {
    font-family: forma-djr-micro,sans-serif;
    font-weight: 700;
    font-style: normal;
}

.formaMicroBold-i {
    font-family: forma-djr-micro,sans-serif;
    font-weight: 700;
    font-style: italic;
}

.white {
    color: rgba(255,255,255,1);
}

body {
    background-color: rgba(0,0,0,5);
    padding: 0px;
    margin: 0px;
}


.cards {
    position: absolute;
/*    justify-content: space-evenly; 
    overflow: scroll; 
    white-space: nowrap; */
    width: 100%;
    height: 100%;
    z-index: 3;
}
/* 
.scroll-block {
    position: absolute;
    display: flex;
    width: 100%;
    height: 45%;
    top: 28vh;
   justify-content: space-between;
    background-color: rgba(0,0,0,0);
} */

.card {
    background-color: white;
    position: relative;
    top: 25vh;
    height: 46%;
    width: 34vh;
    margin-left: 11%;
    transition: all 1s;
    padding: 1em;
    
}

.flexbox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

}

.card-head {
    margin-top: 0;
    margin-bottom: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.breakLine {
    background-color: rgba(255,255,255,1);
    width: 100%;
    height: .3%;

}


.hover-top:hover {
    transition: all 1s;
    z-index: 5;
}


.card.onLoad {
    position: absolute;
    left: 26%;
}

.bottomLine {
    background-color: rgba(255,255,255,1);
    width: 100%;
    height: .1%;
    margin-bottom: 3%
}
    

/*CARD TYPE*/


.date {
    font-size: .8em;
    letter-spacing: .6px;
    margin-top: 0;
    margin-bottom: 0;
}

.num {
    font-size: .8em;
    letter-spacing: .6px;
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
}

.card h3 {
    font-size: 2.6em;
    line-height: 1;
    margin-top: 5%;
    margin-bottom: 6%;
}

.description {
    font-size: .9em;
    margin-top: 4%;
    margin-right: 5%;
    line-height: 1.3;
    flex-grow: 3;
    letter-spacing: .9px;
}

.category {
    justify-self: flex-end;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: .2em;
    letter-spacing: .5px;
}

@media screen and (max-height: 630px)
    {
    body {
        background-color: rosybrown; 
    }
        
    .card-head p {
        font-size: 1.9vh;
    }
    
    .card h3 {
        font-size: 6vh;
    }
    
    .description {
        font-size: 1.9vh;
    }
        
    .category {
        font-size: 1.3vh;
        }
}

#card1 {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,1);
}


#card2 {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,1);
}

#card3 {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,1);
}

#card4 {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,1);
}

#card5 {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,1);
}

#card6 {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,1);
}

#card7 {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,1);
}

.bg-2 {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
    background-image: url("images/Parkway.jpg");
    background-size: cover;
    transition: all 1s;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

.bg-3 {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("images/RadicalMedia.png");
    background-position: center center;
    background-size: cover;
    transition: all 1s;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

.bg-4 {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("images/solistaglia-test-small.gif");
    background-position: center center;
    background-size: cover;
    transition: all 1s;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}



/* MOBILE */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait){ 

      body {
          background-color: ; 
      }
      
      .cards {
        
      }
      
      .card {
            position: absolute;
            height: 46vh;
            width: 30vh;
            margin-left: -4%;
            margin-right: 8%; 
            top: 23%;
            padding: 4%;
      }
      
      /*CARD STYLING */
      
      .flexbox {
          width: 100%;
          height: 100%;
      }
      
      .breakLine {
          height: .4%;
      }
      
      .date {
          font-size: 2vh;
      }
      
      .num {
          font-size: 2vh;
      }
      
      .card h3 {
          font-size: 5vh;
          line-height: 110%;
      }
      
      .description {
          font-size: 1.7vh;
          letter-spacing: 1.3px;
          line-height: 1.4;
      }
      
      .bottomLine {
            height: .3%;
            margin-bottom: 0;
      }
      
      .category {
          font-size: 1.4vh;
      }
}

/* IPHONE X */ 

 @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
      
       body {
          background-color: ;
      }
      
      .card { 
          margin-left: 0%;
      }
      
      .description {
          font-size: 1.8vh;
          letter-spacing: 2px;
          
      }
}

/*LANDSCAPE*/

/*PIXEL 2*/
@media screen 
  and (min-device-width: 412px) 
  and (max-device-height: 823px) 
  and (-webkit-min-device-pixel-ratio: 2.5) 
  and (orientation: landscape) {
      
      body {
          background-color: darkred;
      }
      
      .card {
        height: 60%;
        width: 40vh;
        margin-left: 18vh;
        margin-top: 17vh;
        top: 0vh;
      }
      
      /*CARD STYLING */
      
      .card h3 {
          font-size: 6vh;
      }
      
      .description {
          font-size: 2.6vh;
      }
}


/*IPHONE 5*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 668px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

      body {
          background-color: rebeccapurple;
      }
      
      .card {
        height: 60%;
        width: 40vh;
        margin-left: 18vh;
        margin-top: 17vh;
        top: 0vh;
      }
      
      /*CARD STYLING */
      
      .card h3 {
          font-size: 6vh;
      }
      
      .description {
          font-size: 2.5vh;
      }
      
      
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    
         body {
             background-color: fuchsia;
         }
      
      .card {
        height: 60%;
        width: 40vh;
        margin-left: 18vh;
        margin-top: 17vh;
        top: 0vh;
      }
      
      /*CARD STYLING */
      
      .card h3 {
          font-size: 6vh;
      }
      
      .description {
          font-size: 2.6vh;
      }
      
     
}
 
