.test {
    border: 1px solid white;
}

html {
    height: 100%;
    width: 100%;
}

/* SHOW SCROLLBAR 
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

::-webkit-scrollbar-thumb {
    background: #888;
}
*/

/*TYPOGRAPHY*/

/*GOOPER*/

@font-face {
font-family: "Gooper SemiCondensed";  
src: 
url('type/GooperSemiCondensed5-Regular.woff') format("woff"),
url('type/GooperSemiCondensed5-Regular.woff2') format("woff2"),
url('type/GooperSemiCondensed5-Regular.otf') format("opentype");
}

.gooper-semiLight {
    font-family: Gooper SemiCondensed;
    font-weight: 500;
}

@font-face {
    font-family: "Gooper";  
    src: 
    url('type/Gooper5-Regular.woff') format("woff"),
    url('type/Gooper5-Regular.woff2') format("woff2"),
    url('type/Gooper5-Regular.otf') format("opentype");
    }

    @font-face {
        font-family: "Gooper Light";  
        src: 
        url('type/Gooper5-Light.woff') format("woff"),
        url('type/Gooper5-Light.woff2') format("woff2"),
        url('type/Gooper5-Light.otf') format("opentype");
        }

.gooper {
    font-family:  Gooper;
}

/* FORMA */

@import url("https://use.typekit.net/qam0qyv.css");

.formaLight-i {
    font-family: forma-djr-text,sans-serif;
    font-weight: 300;
    font-style: italic;
}

.formaLight {
    font-family: forma-djr-text,sans-serif;
    font-weight: 300;
    font-style: normal;
}

.formaMed {
    font-family: forma-djr-text,sans-serif;
    font-weight: 500;
    font-style: normal;
}

.formaReg {
    font-family: forma-djr-micro,sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* FORMA MICRO */

@import url("https://use.typekit.net/qam0qyv.css");

.formaMicroLight {
    font-family: forma-djr-micro, sans-serif;
    font-weight: 300;
    font-style: normal;
}


.formaMicro {
    font-family: forma-djr-micro,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.formaMicro-i {
    font-family: forma-djr-micro,sans-serif;
    font-weight: 400;
    font-style: italic;
}

.formaMicroMed {
    font-family: forma-djr-micro,sans-serif;
    font-weight: 500;
    font-style: normal;
}

.formaMicroMed-i {
    font-family: forma-djr-micro,sans-serif;
    font-weight: 500;
    font-style: italic;
}

.formaMicroBold {
    font-family: forma-djr-micro,sans-serif;
    font-weight: 700;
    font-style: normal;
}

.formaMicroBold-i {
    font-family: forma-djr-micro,sans-serif;
    font-weight: 700;
    font-style: italic;
}

.white {
    color: rgba(255,255,255,1);
}

body {
    background-color: rgba(0,0,0,5);
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}


.cards {
    position: absolute;
/*    justify-content: space-evenly; 
    overflow: scroll; 
    white-space: nowrap; */
    width: 100%;
    height: 100%;
    z-index: 3;
}
/* 
.scroll-block {
    position: absolute;
    display: flex;
    width: 100%;
    height: 45%;
    top: 28vh;
   justify-content: space-between;
    background-color: rgba(0,0,0,0);
} */

.card {
    background-color: white;
    position: relative;
    top: 25vh;
    height: 46%;
    width: 34vh;
    margin-left: 38%;
    transition: all 1s;
    padding: 1em;
    
}

.flexbox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

}

.card-head {
    margin-top: 0;
    margin-bottom: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.breakLine {
    background-color: rgba(255,255,255,1);
    width: 100%;
    height: .3%;

}


.hover-top:hover {
    transition: all 1s;
    z-index: 5;
}


.card.onLoad {
    position: absolute;
    left: 26%;
}

.bottomLine {
    background-color: rgba(255,255,255,1);
    width: 100%;
    height: .1%;
    margin-bottom: 3%
}

.hideCards {
    -webkit-animation: fadeOut 0.2s ease-out;
    -moz-animation: fadeOut 0.2s ease-out;
    -o-animation: fadeOut 0.2s ease-out;
    animation: fadeOut 0.2s ease-out;
    animation-fill-mode: forwards;
    pointer-events: none;
}

@-webkit-keyframes fadeOut {
    0% {
        display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;

    }

    100% {
        display: none;
        opacity: 0;

    }
}

@-moz-keyframes fadeOut {
    0% {
        display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes fadeOut {
        0% {
            display: block;
            opacity: 1;
            top: auto;
        }
    
        1% {
            display: block;
            opacity: 1;
            top: 5%;
        }
    
        100% {
            display: none;
            opacity: 0;
            top: 15%;
        }
}

.showCards {
    -webkit-animation: fadeIn 0.5s ease-out;
    -moz-animation: fadeIn 0.5s ease-out;
    -o-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
    animation-fill-mode: forwards;
}
    
@-webkit-keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}


/*CARD TYPE*/


.date {
    font-size: .8em;
    letter-spacing: .6px;
    margin-top: 0;
    margin-bottom: 0;
}

.num {
    font-size: .8em;
    letter-spacing: .6px;
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
}

.card h3 {
    font-size: 2.6em;
    line-height: 1;
    margin-top: 5%;
    margin-bottom: 6%;
}

.description {
    font-size: .9em;
    margin-top: 4%;
    margin-right: 5%;
    line-height: 1.3;
    flex-grow: 3;
    letter-spacing: .9px;
}

.description a {
    text-decoration: none;
    font-weight: 400;
    opacity: 50%;    
    
}

.category {
    justify-self: flex-end;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: .2em;
    letter-spacing: .5px;
}

/*HEAD TYPE*/


.head-type {
    position: absolute;
    margin-left: 2;
    height: 87%;
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    padding: 2.5em;
    padding-right: 4em;
    padding-bottom: 0em;
    transition: 1s;
    z-index: 5;
    opacity: .9;
}


.face1 {
    position: absolute;
    margin-top: 13.5vh;
    height: 30vw;
    margin-left: 24vw;
    opacity: 0;
    transition: .2s all;
}

.face2 {
    position: absolute;
    height: 15vw;
    margin-top: 55%;
    margin-left: 23%;
    opacity: 0;
    transition: .2s all; 
    display: none;
}



.head-type p {
    margin: 0;
    font-size: 6em;
    line-height: .9;
    opacity: .9;
    transition: 1s ease-in-out;
}

.col-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-self: flex-start;
    flex: 1;
}

.type-name{
    padding: 0px;
    margin: 0px;
    
}

.type-extra {
    align-self: flex-end;
    text-align: left;
    
}




.tester {
    color: goldenrod;
   text-align: left;
   -webkit-animation: moveLeft 1s ease-out;
   -moz-animation: moveLeft 1s ease-out;
   -o-animation:  moveLeft 1s ease-out;
    animation: moveLeft 1s ease-out;
    -webkit-animation-fill-mode: forwards;
}



@-webkit-keyframes moveLeft {
    from {
        text-align: right;
    }


    to {
        text-align: left;
    }
}

@-moz-keyframes moveLeft {
    from {
        text-align: right;
    }


    to {
        text-align: left;
    }
}

@-o-keyframes moveLeft {
    from {
        text-align: right;
    }


    to {
        text-align: left;
    }
}

@keyframes moveLeft {
    from {
        text-align: right;
    }


    to {        text-align: left;
    }
}

.switch {
    display: inline-block;
    height: .6em;
    width: .6em; 
    background-color: coral;
    border-radius: 100%;
    transition: 1s all; 
    z-index: 10;
}

/*ABOUT*/

.about-container {
    position: absolute;
    width: 40%;
    height: 100%;
    margin-left: 55%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
    padding-top: 5.6em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    opacity: 0;
   
}

.about-row1 {
   width: 100%;
}

.about-container h4 {
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .9px;
    opacity: .6;
    margin-bottom: 3.5vh;
}

.about-container h2 {
    font-size: 1.7em;
    letter-spacing: .7px;
    margin-top: 0;
    line-height: 1.25
}

.about-container h3 {
    font-size: 1.3em;
    letter-spacing: .9px;
    margin-top: 0;
    line-height: 1.27;
}

.about-container h5 {
    font-size: .7em;
    text-align: right;
    letter-spacing: .6px;
    margin-top: 0;
    margin-bottom: .6vh;
    opacity: .7;
}

.about-row6 h6 {
    font-size: .6vw;
    margin-top: -2vh;
    margin-bottom: 0;
    letter-spacing: .9px;
    opacity: .3;
}

.experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5vw;
}

.date {
    margin-bottom: 1vh;
}

.blurb {
    font-size: .8em;
    margin-top: 0;
    margin-bottom: 1vh;
    letter-spacing: .7px;
}

.client {
    font-size: .5em;
    margin-top: 0;
    margin-bottom: 4vh;
    text-transform: uppercase;
    letter-spacing: .9px;
    line-height: 1.4;
    opacity: .4;
}

.exp-3 .client {
    margin-bottom: .5vh;
}

.client a {
    text-decoration: none;
    color: white;
}

.client a:hover {
    color: pink;
    opacity: 1;
}



.showAbout {
    opacity: .87;
    -webkit-animation: aboutFadeIn 0.8s ease-out;
    -moz-animation: aboutFadeIn 0.8s ease-out;
    -o-animation: aboutFadeIn 0.8s ease-out;
    animation: aboutFadeIn 0.8s ease-out;
    animation-fill-mode: forwards;
}

@-webkit-keyframes aboutFadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes aboutFadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes aboutFadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes aboutFadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.hideAbout {
    opacity: 0;
    -webkit-animation: aboutFadeOut 0.5s ease-out;
    -moz-animation: aboutFadeOut 0.5s ease-out;
    -o-animation: aboutFadeOut 0.5s ease-out;
    animation: aboutFadeOut 0.5s ease-out;
    animation-fill-mode: forwards;
}




/* FOOTER */ 


.footer {
    position: absolute;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
    margin-left: 1em;
    margin-right: 1em;
    bottom: 0;
    padding: 0px;
    z-index: 6;
    
}

.footer img {
    height: .7em;
    margin-right: .2em;
    margin-left: .2em;
    padding: 0px;
    transition: .2s;
}

.footer img:hover {
    opacity: 40%;
    
}

.footer p {
    font-size: .5em;
    opacity: 50%;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

/*BUTTONS*/

.button-circle {
    position: relative;
    padding: .3em;
    box-sizing: border-box;
    float: right;
    clear: none;
    margin-top: 1.5%;
    margin-right: 1.5%;
    z-index: 10;
    transition: .5s all;
    opacity: .5;
    
}


.button-circle img {
    width: 4.5em;
}

.button-circle p {
    font-family: formaMicro-Light !important;
    position: absolute;
    margin: 0;
    left: 34%;
    top: 21%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7em;
    letter-spacing: 1px;
}

.star-about {
    transition: .5s all;
}

.button-circle:hover .star-about {
   transform: rotate(30deg);

}

.button-circle:hover {
    opacity: 1;
}

.button-circle:active {
    opacity: .1;
}



.button-star {
    position: absolute;
    float: right;
    bottom: 0;
    margin-bottom: 2%;
    margin-right: 1.5%;
    left: 93%;
    clear: none;
    z-index: 10;
    transition: .5s all;
    opacity: .5;
    
}


.star {
    transition: 1s all;
}

.button-star img {
    width: 4.5em;
    
}

.button-star p {
    position: absolute;
    text-align: center;
    margin: 0;
    padding: 0;
    left: 45%;
    top: 30%;
}

.button-star:hover .star {
   transform: rotate(-30deg);

}

.button-star:hover {
    opacity: 1;
}

.button-star:active {
    opacity: .1;
}



@media screen and (max-height: 720px)
    {
    body {
      /*  background-color: rosybrown; */
    }
        
    .card {
        height: 50%;        
    }
        
    .num {
        font-size: 1.9vh
        }
    
    .date {
        font-size: 1.9vh
        }
    
    .card h3 {
        font-size: 6vh;
    }
    
    .description {
        font-size: 1.9vh;
    }
        
    .category {
        font-size: 1.2vh;
        }
}

@media screen and (max-width: 1210px) {
    
    .head-type p {
        font-size: 8vw;
    }
}

@media screen and (max-width: 900px) {
    
    .head-type {
        width: 95%;
        height: 95%;
        padding: 1em;
        
    }
    
    .footer {
        width: 95%;
    }
    
    .card {
        margin-left: 5%;
        top: 19.5vh;
    }
    
    .button-circle {
        position: absolute;
        bottom: 2.1%;
        left: 90.5%;
    }
    
    .button-circle p {
        font-size: 2.5vw;
    }
    
    .button-circle img {
        width: 3.1em;
    }
    
    .button-star {
        left: 83.5%;
        bottom: .9%;
    }
    
    .button-star img {
        width: 3.1em;
    }
    
    .about-container {
        width: 80%;
        z-index: 7;
        padding-left: 8vw;
        padding-right: 8vw;
        margin-left: 0;
    }
    
    .small-headtype p {
        font-size: 3vw;
        text-align: left;
        
    }
    
    .type-extra {
        align-self: flex-start;
    }
    
    .face1 {
        margin-top: 15vh;
        margin-left: 68vw;
    }
    
    .face2 {
        display: none;
    }
    
    .about-row2 {
        width: 90%;
    }
    
    .about-row6 h6 {
        font-size: 1vw;
    }
}

@media screen and (max-width: 850px) {
    .head-type p {
        letter-spacing: .3px;
    }
    
    .footer p {
        letter-spacing: 1.2px;
        transition: .2s;
    }
}

#card1 {
    transform: rotate(-45deg);
    background-color: #ffffff;
}


#card2 {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,1);
}

#card3 {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,1);
}

#card4 {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,1);
}

#card5 {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,1);
}

#card6 {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,1);
}

#card7 {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,1);
}

#card8 {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,1);
}

/*
.bg {
    z-index: 10;
    width: 50%;
    height: 50%;
    background-position: center;
    background-image: url(images/bg.png); 
}

*/

.bg-2 {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
    background-image: url("images/Parkway.jpg");
    background-size: cover;
    transition: all 1s;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

.bg-3 {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("images/theTreatment.gif");
    background-position: center center;
    background-size: cover;
    transition: all 1s;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

.bg-4 {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("images/worldsFair.png");
    background-position: center center;
    background-size: cover;
    transition: all 1s;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

.bg-5 {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("images/solistaglia-test-small.gif");
    background-position: center center;
    background-size: cover;
    transition: all 1s;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

.bg-6 {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("images/RadicalMedia-small.gif");
    background-position: center center;
    background-size: cover;
    transition: all 1s;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

.bg-7 {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("images/SpaceSymposium.png");
    background-position: center center;
    background-size: cover;
    transition: all 1s;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

.bg-8 {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("images/lettering-bw.png");
    background-position: center center;
    background-size: cover;
    transition: all 1s;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}



/* MOBILE */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait){ 
    
      body {
       /*    background-color: pink;  */
          margin: 0;
      }
      
      .head-type {
          position: absolute;
          padding-left: 6%;
          padding-top: 6%;
          padding-bottom: 6%;
          height: 97.3%;
          width: 90%;
      }
      
      .head-type p {
          font-size: 6.4vh;
          text-align: left;
      }
      
      
      .card {
            position: absolute;
            height: 44vh;
            width: 29vh;
            margin-left: -5%;
            margin-right: 0%; 
            top: 19%;
            padding: 4%;
      }
      
      .footer p {
         font-size: 1.2vh;
         letter-spacing: .7px;
      }

      .footer img {
          height: 1.3vh;
      }
      
      /*CARD STYLING */
      
      .flexbox {
          width: 100%;
          height: 100%;
      }
      
      .breakLine {
          height: .4%;
      }
      
      .date {
          font-size: 1.5vh;
          margin-bottom: .7vh;
      }
      
      .num {
          font-size: 1.5vh;
      }
      
      .card h3 {
          font-size: 5vh;
          line-height: 1--%;
      }
      
      .description {
         font-family: forma-djr-micro,sans-serif;
         font-weight: 400;
          font-size: 1.7vh;
          letter-spacing: .8px;
          line-height: 1.3;
          margin-bottom: 0;
      }
      
      .bottomLine {
            height: .3%;
            margin-bottom: 0;
      }
      
      .category {
          font-size: 1.4vh;
      }
      
      .button-circle {
          position: absolute;
          top: 93.8%;
          left: 86%;

      }
      
      .button-circle p {
        font-size: 1.1em;
        top: 45%;
        left: 33%;
      }
      
      .button-circle img {
          width: 2.5em;     
      }
      
      .button-star {
          top: 95.5%;
          left: 74%;
      }
      
      .button-star img {
          width: 2.5em;
      }
      
      .button-star p {
      font-size: .9em;
        top: 60%;
        left: 42%;
      }
      
      .about-container {
          flex-direction: row;
          width: 86.5%;
          height: 80%;
          padding-top: 0;
          margin-top: 8vh;
      }
      
      .about-row2 {
          width: 100%;
      }
      
      .about-container h2 {
          font-size: 3.7vh;
          margin-bottom: 2vh;
      }
      
      .about-row4 h5 {
          font-size: 1.5vh;
          width: 40%;
          text-align: left;
          line-height: 1.2;
          letter-spacing: .8px;
      }
      
      .about-row5 {
          margin-left: 43%;
      }
      
      .face1 {
          top: 40vh;
          
      }
      
      .experience {
          grid-template-columns: 1fr;
          
      }
      
      .exp-1 {
          display: grid;
          grid-template-columns: 1fr auto;
          grid-column-gap: 2vh;
          margin-left: 30%;
      }
      
      .exp-1 h6 {
          grid-column: 2/3
      }
      
      .exp-2 {
          display: grid;
          grid-template-columns: 1fr auto;
          grid-column-gap: 2vh;
          margin-left: 30%; 
      }
      
      .exp-2 h6 {
          grid-column: 2/3
      }
      
      .exp-3 {
          display: grid;
          grid-template-columns: 1fr auto;
          grid-column-gap: 2vh;
          margin-left: 30%; 
          margin-bottom: 3vh;
      }
      
      .exp-3 h6 {
          grid-column: 2/3
      }
      
      .exp-4 {
        display: grid;
          grid-template-columns: 1fr auto;
          grid-column-gap: 2vh;
          margin-left: 30%; 
      }
      
      .exp-4 h6 {
          grid-column: 2/3
      }
      
      .small-headtype p {
          font-size: 3.4vh;
      }
      


    
      


/* IPHONE X */ 

 @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
      
       body {
       /*    background-color: red;  */

       }
       .head-type {
          height: 95%;
          width: 89.5%;
      }
      
      .head-type p {
          font-size: 6vh;
      }
      .card { 
          margin-left: -2%;
          height: 38vh;
          width: 22vh;
      }
      
      
      
      .card h3 {
          font-size: 3.7vh;
      }
      
      .description {
        font-family: forma-djr-micro,sans-serif;
        font-weight: 400;
          font-size: 1.4vh;
        margin-bottom: 0;
        /*  letter-spacing: 2px; */
          
      }
      
      .date {
          font-size: 1.4vh;
          margin-bottom: .4vh;
      }
      
      .num {
          font-size: 1.4vh;
      }
.category {
          font-size: 1.2vh;
      }
      
      
      .about-container h2 {
          font-size: 3.3vh;
      }
      
       .small-headtype p {
          font-size: 3.4vh;
      }
      
}
    
/*IPHONE 6/7/8 */
@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) { 
        
        body {
        /*    background-color: green; */
        }
        
        .head-type {
            height: 93%;
        }
        
        .card {
            position: absolute;
            height: 43vh;
            width: 27vh;
            margin-left: -5%;
            margin-right: 0%; 
            top: 20%;
            padding: 4%;
      }
        
        .description {
        font-size: 1.6vh;
        letter-spacing: .8px;
        line-height: 1.2;
        margin-bottom: 0;
        }
        
        .card h3 {
          font-size: 4.6vh;
          line-height: 110%;
      }
        
        .date {
            font-size: 1.5vh;
        }
        
        .num {
            font-size: 1.5vh:
        }
        
        .category {
            font-size: 1.25vh;
        }
        
        .button-circle {
            top: 89%;
            left: 80%;
        }
        
        .button-circle p {
            top: 21%;
        }
        
        .button-star {
            top: 90.5%;
            left: 67%;
        }
        
        .button-star p {
            top: 23.5%;
        }
        
        .about-container {
            width: 83%;
            height 78%;
        }

        }

/*LANDSCAPE*/

/*PIXEL 2*/
@media screen 
  and (min-device-width: 412px) 
  and (max-device-height: 823px) 
  and (-webkit-min-device-pixel-ratio: 2.5) 
  and (orientation: landscape) {
      
      body {
          background-color: darkred;
      } 
      
      .card {
        height: 60%;
        width: 40vh;
        margin-left: 18vh;
        margin-top: 17vh;
        top: 0vh;
      }
      
      /*CARD STYLING */
      
      .card h3 {
          font-size: 6vh;
      }
      
      .description {
          font-size: 2.6vh;
      }
      
    
}


/*IPHONE 5*/
@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 668px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

      body {
          background-color: rebeccapurple;
      } 
      
      .card {
        height: 60%;
        width: 40vh;
        margin-left: 18vh;
        margin-top: 17vh;
        top: 0vh;
      }
      
      /*CARD STYLING */
      
      .card h3 {
          font-size: 6vh;
      }
      
      .description {
          font-size: 2.5vh;
      }
      
      
      
}

@media screen 
  and (min-device-width: 360px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    
         body {
             background-color: fuchsia;
         } 
      
      .card {
        height: 60%;
        width: 40vh;
        margin-left: 18vh;
        margin-top: 17vh;
        top: 0vh;
      }
      
      /*CARD STYLING */
      
      .card h3 {
          font-size: 6vh;
      }
      
      .description {
          font-size: 2.6vh;
      }
      
        .about-row2 {
          width: 30%;
      }
      
     
}
