@media only screen and (max-width: 1000px) {
    
    button {
        text-decoration: none;
    }
    .container {
        display: none;
    }
    
    .m-container {
        display: block;
        height: 100vh;
        width: 100%;
        
    }
    
    .header-1 {
        border-bottom: 2px solid white;
        position: sticky;
    }
    
    .about {
        background-color: #D8D8D8; 
        height: 100vh;
        width: 100%;
        z-index: 1;
        position: absolute;
        display: grid;
        grid-template-rows: 3fr 2fr 1fr;
        
    }
    
    .name {
        list-style: none;
        margin-left: 3vw;
        margin-right: 6vw;
        padding-bottom: vw
    }

    .name li {
    display: inline;
    }


    #izzy {
    font-family: Gooper Light;
    font-size: 1.7em;
    color: #FBFBFB;
}

    #about-txt {
    font-family: Gooper Light;
    font-size: 1.7em;
    color: #FBFBFB;
    float: right;
}
    
    #aboutBG {
        display: none;
        
    }
    
    #aboutPress {
        display: contents;
    }
    
    .main-type {
        grid-row: 1/2;
        margin-left: 6vw;
        margin-right: 6vw;
    }
    
    .second-type {
        grid-rows: 2/3;
        margin-left: 6vw;
        margin-right: 6vw;
    }
    
/*TYPE*/
    
    .main-type h1 {
        font-family: Gooper;
        color: #181818;
        font-size: 4.5em;
        
    }
    
    .second-type h2 {
        color: #181818;
        font-size: 1.4em;
    }
    
    #semibold {
        font-family: Gooper SemiBold;
    }
}
